<section class="about" id="about">
	<div class="container">
		<h2 class="visually-hidden">
			O школе RoboSchool 
		</h2>
		<p class="about__didcr">
			<span class="about__descr-highlight">Robo School</span> - учреждение для формирования кадрового педагогического 
			резерва в сфере робототехники для 
			программирования
		</p>
		<ul class="list-reset about__list">
			<li class="about__item">
				<div class="about__digit">10</div>
				<p class="about__text">
					УМК по различным направлениям по работотехнике
				</p>
			</li>
			<li class="about__item">
				<div class="about__digit">20</div>
				<p class="about__text">
					УМК по различным направлениям по работотехнике
				</p>
			</li>
			<li class="about__item">
				<div class="about__digit">50</div>
				<p class="about__text">
					УМК по различным направлениям по работотехнике
				</p>
			</li>
			<li class="about__item">
				<div class="about__digit">1110</div>
				<p class="about__text">
					УМК по различным направлениям по работотехнике
				</p>
			</li>
		</ul>
	</div>
</section>