q<section class="benefits section-offset">
  <div class="container">
    <h2 class="benefits__title section-title">
      Что вы получите после курса
    </h2>
    <ul class="list-reset benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__subtitle">
          Удостоверение
        </h3>
        <p class="benefits__descr">
          Дающее право преподавать робототезнику для детей 6-12лет в образовательных школах
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">
          Знания
        </h3>
        <p class="benefits__descr">
          Дающее право преподавать робототезнику для детей 6-12лет в образовательных школах
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">
          Практика
          <span class="tooltip">
            <button class="tooltip__btn btn-reset" aria-describedby="id1">
              <svg class="">
                <use xlink:href="img/sprite.svg#i"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="id1">
              <span class="visually-hidden">Тултип: </span>
              При наличии свободных мест
            </span>
          </span>
        </h3>
        <p class="benefits__descr">
          Дающее право преподавать робототезнику для детей 6-12лет в образовательных школах
        </p>
      </li>
    </ul>
  </div>
</section>
