<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">X</button>
    <div class="graph-modal__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vero atque deserunt,
      debitis exercitationem perferendis excepturi tenetur, nam delectus mollitia commodi saepe nostrum laudantium
      distinctio doloribus pariatur quidem esse autem.</div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="trainer-2">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">X</button>
    <div class="graph-modal__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vero atque deserunt,
      debitis exercitationem perferendis excepturi tenetur.</div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="trainer-3">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">XXX</button>
    <div class="graph-modal__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vero atque
      deserunt,.</div>
  </div>
</div>
